* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
/* Background full layar */
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body .bglogin {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
}
body .bgregis1 {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  left: 0;
}
body .bgregis2 {
  position: fixed;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  right: 0;
}

/* Container card login */
form {
  background: white;
  padding: 30px;
  width: 320px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: fade 0.5s ease;
}

/* Animasi muncul */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

form label {
  color: #444;
  font-weight: bold;
  font-size: 14px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: 0.2s;
}

form input:focus {
  border-color: #bf0000;
  outline: none;
  box-shadow: 0 0 5px rgba(191, 0, 0, 0.4);
}

/* Tombol login */
button {
  width: 100%;
  padding: 10px;
  background: #bf0000;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #ff1f1f;
}

/* Link daftar */
a {
  display: block;
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #bf0000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration: none;
}

.backlogin {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #bf0000;
  padding: 8px 15px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition: 0.2s;
}
.backlogin:hover {
  background: #ff1f1f;
}

/* register */
.erregis {
  color: red;
  font-size: 14px;
  margin: -10px 0 5px 0;
}
